/*-----------------------*/
/*Global Declarations*/
/*-----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;

    /*debugging*/
    border: 1px solid darkolivegreen;

    /* global default font */
    font-family: "Gill Sans", sans-serif;
}

body {
    background-color: white;
    overflow: hidden;
}

p {
    font-size: 1em;
}

button {
    outline: none;
    background-color: white;
    color: black;
    font-size: 1em;
}

h1, h2 {
    color: darkgoldenrod;
    text-align: center;
}

/*-----------------------*/
/*Outer-Container Section*/
/*-----------------------*/

.outer-container {
    padding: 10px;
    height: 100vh; /* 100% of your screen's height*/
    display: flex;
    flex-direction: column;
    justify-content: start;
}

/*---------------*/
/*Top-Bar Section*/
/*---------------*/

.top-bar p {
  float: right;  
}

/*-----------------------*/
/*Inner-Container Section*/
/*-----------------------*/

.inner-container {
    background: rgba(0,0,0,0.2);
    height: 100%;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*-------------------------*/
/*Header/Quiz Intro Section*/
/*-------------------------*/

.quiz-intro {
margin-bottom: 30vh;
}

.quiz-intro p {
    text-align: center;
}

.quiz-intro button {
    display: block;
    margin: 0 auto;
}

/*-----------------*/
/*Main Quiz Content*/
/*-----------------*/