* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

body {
    background-color: black;
    font-family: monospace; 
}

p {
    color: antiquewhite;
    font-size: 1em;
}

.outer-container {
    padding: 10px;
}

