/*-----------------------*/
/*Global Declarations*/
/*-----------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /*debugging*/
    border: 1px solid darkolivegreen;

    /* global default font */
    font-family: monospace; 
}

body {
    background-color: white;
}

p {
    color: darkgoldenrod;
    font-size: 1.3em;
}

button {
    outline: none;
    background-color: white;
    color: black;
}

/*-----------------------*/
/*Outer-Container Section*/
/*-----------------------*/

.outer-container {
    padding: 10px;
    height: 100vh; /* 100% of your screen's height*/
}

/*---------------*/
/*Top-Bar Section*/
/*---------------*/

.top-bar p {
  float: right;  
}

/*-----------------------*/
/*Inner-Container Section*/
/*-----------------------*/

.inner-container {
    background-color: darkgoldenrod;
    height: 100%;
}

/*-------------------------*/
/*Header/Quiz Intro Section*/
/*-------------------------*/

/*-----------------*/
/*Main Quiz Content*/
/*-----------------*/